[submodule "third-party/glfw"]
	path = third-party/glfw
	url = https://github.com/bigiansen/glfw
[submodule "third-party/catch2"]
	path = third-party/catch2
	url = https://github.com/bigiansen/Catch2
