[submodule "third-party/googletest"]
	path = third-party/googletest
	url = https://github.com/bigiansen/googletest
[submodule "third-party/glfw"]
	path = third-party/glfw
	url = https://github.com/bigiansen/glfw
